<footer class="footer">
  <div class="footer-container">
    <div class="footer-links">
      <a href="#" class="footer-link">Sitemap</a>
      <span class="separator">|</span>
      <a href="#" class="footer-link">Seguridad</a>
      <span class="separator">|</span>
      <a href="#" class="footer-link">Aviso legal</a>
      <span class="separator">|</span>
      <a href="#" class="footer-link">Políticas</a>
      <span class="separator">|</span>
      <a href="#" class="footer-link">Reglamento de productos</a>
    </div>
    <div class="footer-copyright">
      © 2026 BBVA Banco  Colombia Daniel Suárez
    </div>
  </div>
</footer>